/*https://www.iconfinder.com/iconsets/flat-ui-icons-24-px Creative Commons (Attribution 3.0 Unported) 
https://unsplash.com/grid
*/
html{
    font-family:'Alef', sans-serif;
    height:100%;
    overflow:hidden;
    margin:0;


}
body{
    background-color:lightblue;
    margin:0;
    width:inherit;
    background-image:url(pictures/bakgrund1.jpg);


}
main{
 
}

footer{
    background:rgba(159,96,104,0.5);
    width:600px;
    position:fixed;
    z-index:1000000000000;/*fullösning...*/
    bottom:0;
    border-right:outset;
    border-top:outset;
    border-color:#9F6068;
    border-top-right-radius:5px;
}
footer img{
        -o-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    transition: 0.2s linear;
    margin:10px;
    display:inline-block;
    width:48px;

}
footer img:hover{
        -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}
.windowname{
    position:absolute;
    text-indent:32px;
    float:left;
}
.window{
    border:outset #9F6068;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    z-index:-1;
    position:absolute;
    background:#A46E74;

    height:390px;
    width:336px;
    resize:both;
    overflow:hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pictureArea{

    overflow-y:scroll;
    height:inherit;
    resize:none;
    background:lightyellow;
}
.pictureArea a{
    display:inline-block;
    position:relative;
    padding:10px;
}
.imgdiv{
    margin-bottom:45px;
}

.imageviewer{
    border:outset #9F6068;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    z-index:-1;
    position:absolute;
    background:#A46E74;
    overflow:hidden;
    resize:none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display:inline;
    /*height:auto;
    width:auto;*/
}
.imageviewer .pictureArea{
    background:none;
    overflow:hidden;
}
.imageviewer .pictureArea img{
    
    margin-bottom:-1.1%;
}
.kryssbild:hover{
    background:lightgray;
}
.resetbackground{
    float:right;
}
.topbar{
    cursor: -webkit-grab; cursor: -moz-grab;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    background:#A46E74;
    height:45px;
    line-height:45px;
    text-align:center;
    font-weight:bold;
    position:relative;
}
.topbar:active{
   cursor: -webkit-grabbing; cursor: -moz-grabbing;
}
.appPicture{
    height:24px;
    width:24px;
    top: 9px;
    left: 5px;
    float: left;
    position: absolute;
}
.kryssbild{
    float:right;
    margin:0;
}
.kryssbild img{
        vertical-align:middle;
}
.bildAtaggar{
    
    margin:5px;
    display:block;
    background:tomato;
    border-radius:3px;
    padding:3px;
    text-align:center;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}
.bildAtaggar img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.loader{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.rssFeed{
    font-size:15px;
    margin:0px 10px 100px 10px;
}
.rssFeed a{
    font-size:10px;
}
