/*https://www.iconfinder.com/iconsets/flat-ui-icons-24-px Creative Commons (Attribution 3.0 Unported) 
https://unsplash.com/grid
*/
html{
    font-family:'Alef', sans-serif;
    height:100%;
    overflow:hidden;

}
body{
    background-color:lightblue;
    margin-left:0;
   /* background-image:url(pictures/bakgrund1.jpg);
*/
}
main{

}

footer{
    background:rgba(255,255,255,0.7);
    width:600px;
    position:fixed;
    z-index:1000000000000;/*fullösning...*/
    bottom:0;
    border-right:5px solid;
    border-top:5px solid;
    border-color:black;
}
footer a img{
    display:inline-block;
    width:48px;

}
.openPictures{
    width:48px;
    height: 48px;
    margin: 24px;
    -o-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    transition: 0.5s linear;

}
.openPictures:hover{
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform: scale(1.6);
}
.window{
    display:block;
    z-index:-1;
    float:left;
    position:absolute;
    border:2px solid;
    background:lightyellow;
    height:50%;
    width:20%;
    overflow-y:scroll;
    resize:both;

}
.pictureArea{
       
        height:inherit;
        height:85%;
}
#pictureWindow:active{

}
.kryssbild{
    float:right;
    margin:0;
}
.windowname{
    float:left;
}
.kryssbild:hover{
    background:lightgray;
}

.topbar{
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    background:gray;
    height:45px;
    line-height:45px;
    text-align:center;
    font-weight:bold;
    position:static;
}
.bildAtaggar{
    display:inline-block;
    width:80px;
    height:60px;
    background:black;
    padding:1px;
    margin:3px;
    text-align:center;
}
.bildAtaggar img {
    margin-top:5%;
}
