/*https://www.iconfinder.com/iconsets/flat-ui-icons-24-px Creative Commons (Attribution 3.0 Unported) 
https://unsplash.com/grid
*/
html{
    height:100%;
    background-image:url(pictures/standardbakgrund2.jpg);
    background-size:cover;
}
body{
    background-color:lightyellow;
    margin-left:0;
}
main{

}
#container{
    
}
footer{
    background:rgba(255,255,255,0.7);
    width:600px;
    position:fixed;
    bottom:0;
    border:2px solid;
    border-color:black;
}
footer a img{
    display:block;

}
#openPictures{
    width:48px;
    height: 48px;
    margin: 24px;
    -o-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    transition: 0.5s linear;

}
#openPictures:hover{
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    transform: scale(1.6);
}
