main{
    width:100%;
}
#memoryCards{
    display:block;
    width:434px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
}
p{
    font-family:verdana;
    text-align:center;
    font-weight:bold;
    font-size:17px;
}
table img{
    height:auto;
    width:auto;
    padding:20px;
}
table tr td a{
    background:radial-gradient(white,white,#330000);
    display:block;
}
table tr td a:hover, table tr td a:focus{
    background:radial-gradient(#330000, white,white);
    display:block;
}
html{
    background:lightblue;
}
header{
    font-family:verdana;
    text-align:center;
    font-weight:bold;
    font-size:60px;
}