header{
    font-size:45px;
    margin:auto;
    background-color:lightblue;
    text-align:center;
}
main{
    background-color:lightblue;
    background: linear-gradient(black,#186974, #186974);
    padding-bottom:15px;
    border-radius:5px;
}
body{
    width:37.9%;
    margin-top:2%;
    margin-left:30%;
    margin-right:20%;
    padding:7px 7px 7px;
    border:double 2px;
    border-radius:5px;
    background-color:#31A5CC;
}

#textarea{
    background-color:lightyellow;
    margin-right:5%;
    margin-left:5%;
}
#button{
    width:30%;
    font-size:20px;
    font-weight:bold;
    margin-right:5%;
    margin-left:5%;
    margin-top:-3px;
}
#messagearea{
  /*  display:-webkit-flex;
    -webkit-flex-direction:column-reverse;
    display:flex;
    flex-direction:column-reverse;*/
    overflow-y:scroll;
    max-height:360px;
    height:360px;
    border:ridge 5px #001D27;
    background:linear-gradient(#001D27,#004860, #186974, #69AEC5, #186974);
}
#messagearea p
{
    word-break:break-all;
    border:solid #818244 5px;
    padding:7px 7px 7px;
    min-height:35px;
    background-color:lightyellow;
    border-radius:10px;
    padding-bottom:20px;
}
#numberOfMessages{
    margin-left:10%;
}
p{
    font-family:Verdana, Geneva, sans-serif;
    font-size:20px;
}
textarea{
    font-family:Verdana, Geneva, sans-serif;
    max-width:88%;
    width:88%;
    height:150px;
    font-size:20px;
}
img{
    border-radius:5px;
    width:100%;
}
#messagearea img{
    float:right;
    height:24px;
    width:24px;
}
#timestamp{
    text-align:right;
    font-size:10px;
    line-height: 2.5em;
    margin-bottom: -2em;
}
#buttonsandtime{
    bottom:5px;
}